$color_mountain_mist_approx: #999;
$black: #000;
$white: #fff;
$color_alto_approx: #ddd;
$color_gallery_approx: #eee;
$color_science_blue_approx: #0074d9;
$color_oslo_gray_approx: #818a91;
$white_15: rgba(255, 255, 255, 0.15);
$color_fern_approx: #66bb6a;
$color_picton_blue_approx: #29b6f6;
$color_sea_buckthorn_approx: #ffa726;
$color_red_orange_approx: #f44336;
$color_apple_approx: #469e4a;
$color_dodger_blue_approx: #2196f3;
$yellow: #ff0;
$silver: #c0c0c0;
$color_tuna_approx: #373a3c;
$color_alabaster_approx: #f9f9f9;
$color_cerulean_approx: #03a9f4;
$color_allports_approx: #0275a8;
$black_10: rgba(0, 0, 0, 0.1);
$color_serenade_approx: #fff6e8;
$color_chestnut_approx: #bd4147;
$color_black_haze_approx: #f7f7f9;
$color_mine_shaft_approx: #333;
$color_wild_sand_approx: #f5f5f5;
$color_gray_nurse_approx: #e8e8e8;
$color_peppermint_approx: #e2f2e2;
$color_surf_crest_approx: #d0ead1;
$color_pattens_blue_approx: #e3f2fd;
$color_hawkes_blue_approx: #cae6fc;
$color_oasis_approx: #ffebce;
$color_bridesmaid_approx: #feefee;
$color_cosmos_approx: #fdd8d6;
$color_scarpa_flow_approx: #55595c;
$color_cornflower_blue_approx: #66afe9;
$color_saltpan_approx: #f3faf4;
$color_bridal_heath_approx: #fffaf2;
$color_rose_white_approx: #fff8f7;
$color_lochmara_approx: #0c7cd5;
$color_denim_approx: #0a68b4;
$color_venice_blue_approx: #08528d;
$color_congress_blue_approx: #07497e;
$color_regal_blue_approx: #064475;
$color_astronaut_blue_approx: #05365d;
$color_midnight_approx: #031f36;
$color_bahama_blue_approx: #066b99;
$color_fruit_salad_approx: #49a54e;
$color_goblin_approx: #3e8c42;
$color_killarney_approx: #327035;
$color_tangerine_approx: #f29000;
$color_meteor_approx: #ce7b00;
$color_mai_tai_approx: #a66200;
$color_scarlet_approx: #ea1c0d;
$color_milano_red_approx: #c8180b;
$color_totem_pole_approx: #a21309;
$color_malibu_approx: #82c4f8;
$color_moss_green_approx: #addaaf;
$color_chardonnay_approx: #ffd08c;
$color_mona_lisa_approx: #f99d97;
$mercury: #e5e5e5;
$color_baltic_sea_approx: #2b2d2f;
$color_fuscous_gray_approx: #555;
$color_french_gray_approx: #b7bdc1;
$gallery: #efefef;
$black_80: rgba(0, 0, 0, 0.8);
$black_30: rgba(0, 0, 0, 0.3);
$black_60: rgba(0, 0, 0, 0.6);
$black_7_5: rgba(0, 0, 0, 0.075);
$white_50: rgba(255, 255, 255, 0.5);
$white_75: rgba(255, 255, 255, 0.75);
$white_7_5: rgba(255, 255, 255, 0.075);
$white_20: rgba(255, 255, 255, 0.2);
$white_65: rgba(255, 255, 255, 0.65);
$black_24: rgba(0, 0, 0, 0.24);
$black_54: rgba(0, 0, 0, 0.54);
$color_nevada_approx: #687077;
$color_cararra_approx: #ececec;
$color_quill_gray_approx: lightgray;
$color_calypso_approx: #31708f;
$color_san_juan_approx: #245269;
$color_tahiti_gold_approx: #e38700;
$color_thunderbird_approx: #dc1a0c;
$black_20: rgba(0, 0, 0, 0.2);
$black_25: rgba(0, 0, 0, 0.25);
$black_50: rgba(0, 0, 0, 0.5);
$black_0_01: rgba(0, 0, 0, 0.0001);
$color_tradewind_approx: #5bc1af;
$color_suva_gray_approx: #888;
$black_15: rgba(0, 0, 0, 0.15);
$color_dove_gray_approx: #6c6e71;
$black_5: rgba(0, 0, 0, 0.05);
$black_12: rgba(0, 0, 0, 0.12);
$black_8: rgba(0, 0, 0, 0.08);
$white_54: rgba(255, 255, 255, 0.54);
$white_12: rgba(255, 255, 255, 0.12);
$black_4: rgba(0, 0, 0, 0.04);
$color_purple_heart_approx: #673ab7;
$color_violet_eggplant_approx: #9c27b0;
$color_california_approx: #ff9800;
$color_mercury_approx: #e6e6e6;
$color_tiara_approx: #cbd0d3;
$color_aluminium_approx: #a7b0b5;
$black_84: rgba(0, 0, 0, 0.84);
$black_26: rgba(0, 0, 0, 0.26);
$white_30: rgba(255, 255, 255, 0.3);
$white_40: rgba(255, 255, 255, 0.4);
$color_concrete_approx: #f3f3f3;
$seashell: #f1f1f1;
$color_celeste_approx: #cccccc;
$red: red;
$color_log_cabin_approx: #222;
$color_blizzard_blue_approx: #9dd8f1;
$color_conifer_approx: rgba(42, 115, 46, 0.72);