.box-content {
    border: 2px solid #dddddd;
    border-radius: 3px;
    padding: 10px;
    // margin: auto;
}

.content-wrapper {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px 20px;
    width: 90%;
    background-color: #fff;
}

.main-info-section,
.description-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.description-wrapper {
    padding: 10px;
    margin-top: 10px;
}

.green-cube {
    width: 20px;
    background-color: green;
    height: 3em;
    position: absolute;
    border-radius: 5px;
}

.red-cube {
    width: 20px;
    background-color: #888999;
    height: 3em;
    position: absolute;
    border-radius: 5px;
}

.product-title {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #eaeaea;
}

.thumbnail-product {
    width: 65px;
    height: 65px;
    margin-left: -35px;
}

.info-seller {
    padding: 5px;
}

.avatar-seller {
    margin: auto;
    max-height: 150px;
}

.avatar-buyer {
    width: 25px;
    height: 25px;
}

.inline {
    display: inline;
}