.body-content {
    margin-top: 40px;
    min-height: 100%;
    height: 100vh;
}

.btn-sit {
    margin: 10px;
}

.img-radius {
    border-radius: 50%;
}

.info-fix {
    margin: 40px;
    border-left: 1px solid green;
}