@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "auth";
// @import "form";
@import "list";
@import "layout";
@import "detail";
@import "index";
@import "input";
@import "profile";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
    background-color: #eaeaea;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.loader {
    border: 7px solid #888888;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    border-bottom: 7px solid #888888;
    width: 60px;
    height: 60px;
    animation: spin 0.75s linear infinite;
    position: fixed;
    right: 40%;
    top: 50%;
    z-index: 100;
}

.clearfix {
    clear: both;
}

.header-navbar-right {
    margin: auto;
    padding: 10px;
}

.btn-header {
    margin-right: 10px;
}

#nav {
    ul {
        li {
            a:hover {
                background-color: #485e69;
            }
        }
    }
}

.margin-top_10px{
    margin-top: 10px;
}
.margin-left_30px{
    margin-left: 30px;
}

#map {
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }