<div class="content-wrapper">
    <!--Page Header-->
    <div>
        <h2>{{seller.name}} - {{product.location}}</h2>
        <div>
            <div>
                <strong><i>
                <span ng-if="product.status == 'notvalid'" style="color: red;">Sản phẩm ngưng đấu giá</span>
                <span ng-if="product.status == 'valid'" style="color: green">Sản phẩm đang đấu giá</span>
                </i></strong>
            </div>
        </div>
    </div>

    <!--Page Main Content-->
    <div class="main-info-section">
        <div class="product-title col-md-9">
            <div class="red-cube" ng-if="product.status == 'notvalid'"></div>
            <div class="green-cube" ng-if="product.status == 'valid'"></div>
            <div style="padding-left: 32px;">
                <h2 style="margin:5px;">{{product.name}}</h2>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="product-main-info">
            <div class="col-md-9 box-content">
                <div class="col-md-6">
                    <div class="col-md-1">
                        <div ng-if="product.urlMedia.length > limitSet && indexSet > limitSet" ng-click="previousSet()" role="button">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <div ng-repeat="media in currentMediaSet">
                            <a role="button" ng-click="changeMedia($index)">
                                <img ng-src="{{media.url}}" class="thumbnail-product" alt="{{product.name + $index}}">
                            </a>
                        </div>
                        <div ng-if="product.urlMedia.length > limitSet && indexSet < product.urlMedia.length" ng-click="nextSet()" role="button">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <a role="button" ng-click="viewImage()">
                            <img ng-src="{{currentMedia}}" class="img-responsive" alt="{{product.name}}">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <strong>Thông tin sản phẩm</strong>
                    </div><br>
                    <div>
                        <i>{{product.description}}</i>
                    </div><br>
                    <div>
                        <strong>Tình trạng đấu giá:</strong>
                        <span ng-if="product.status == 'notvalid'" style="color: red;">Ngưng đấu giá</span>
                        <span ng-if="product.status == 'valid'" style="color: green;">Đang đấu giá</span>
                    </div><br>
                    <div>
                        <strong>Giá khởi điểm:</strong> {{product.price[0]}}
                    </div>
                    <div>
                        <strong>Giá hiện tại:</strong> {{product.price[product.price.length - 1]}}
                    </div><br>
                    <div>
                        <strong>Nơi giao dịch:</strong> {{product.location}}
                    </div><br>
                    <div>
                        <strong>Ngày bắt đầu:</strong> {{convertTime(product.startDate)}}
                    </div>
                    <div>
                        <strong>Ngày kết thúc:</strong> {{convertTime(product.endDate)}}
                    </div><br>
                    <div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="{{product.finalPrice + product.stepPrice}}" ng-model="price">
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" ng-click="doBid()">Đấu giá</button>
                            <!--Thêm vào danh sách yêu thích-->
                            <i role="button" class="fa fa-heart btn btn-danger" aria-hidden="true" ng-if="!btnfavor" ng-click="btnFavor(true)"></i>
                            <i role="button" class="fa fa-heart-o btn btn-default" aria-hidden="true" ng-if="btnfavor" ng-click="btnFavor(false)"></i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 box-content">
                    <div style="text-align: center;">
                        <strong>Thông tin người bán</strong>
                    </div>

                    <div class="avatar-seller-box">
                        <img ng-src="{{seller.avatar}}" alt="avatar{{seller.name}}" class="img-responsive avatar-seller">
                    </div>
                    <div class="info-seller"><strong>Họ tên:</strong> {{seller.name}}</div>
                    <div class="info-seller" tooltip-placement="top" uib-tooltip="{{seller.email}}">
                        <strong>Email:</strong> <a href="mailto:{{seller.email}}">{{email}}</a>
                    </div>
                    <div class="info-seller"><strong>SĐT:</strong> {{seller.phone}}</div>
                    <div class="info-seller"><strong>Ngày sinh:</strong> {{convertTime(seller.birthday)}}</div>
                    <div class="info-seller"><strong>Điểm:</strong> {{seller.point}}</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--Description-->
    <div class="description-section row">
        <div class="product-description-title">
            <h3>Thông tin chi tiết</h3>
        </div>
        <div class="col-md-9 box-content">
            <uib-tabset active="active">
                <uib-tab index="$index+1" heading="{{attribute.title}}" ng-repeat="attribute in product.attributes">
                    <div class="p-a-2 tab-content transition">
                        <div class="description-wrapper">
                            <div ng-bind-html="attribute.data | trusted"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="0" heading="Bảng xếp hạng">
                    <div class="p-a-2 tab-content transition">
                        <div class="description-wrapper">
                            <div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Số thứ tự</th>
                                            <th>Người mua</th>
                                            <th>Giá mua</th>
                                            <th>Thời gian</th>
                                        </tr>
                                        <tr>
                                            <td>Info 1</td>
                                            <td>Info 2</td>
                                            <td>Info 3</td>
                                            <td>Info 4</td>
                                        </tr>
                                        <tr>
                                            <td>Info 1</td>
                                            <td>Info 2</td>
                                            <td>Info 3</td>
                                            <td>Info 4</td>
                                        </tr>
                                        <tr>
                                            <td>Info 1</td>
                                            <td>Info 2</td>
                                            <td>Info 3</td>
                                            <td>Info 4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-3 advetise">

        </div>
    </div>

</div>

<!--<widget class="col-lg-12">
    <widget-header title="Chương trình đào tạo" icon="fa-drivers-license-o">
        <input class="form-control input-sm filter-bar" type="text" placeholder="Lọc" ng-model="vm.programFilter" autofocus>
        <button type="button" class="btn btn-sm btn-danger" ng-click="vm.DeleteProgram()" ng-disabled="vm.selectedProgramIndex === null">Xóa</button>
        <button type="button" class="btn btn-sm btn-warning" ng-click="vm.EditProgram()" ng-disabled="vm.selectedProgramIndex === null">Sửa</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.AddProgram()">Thêm</span></button>
    </widget-header>
    <widget-body classes="small no-padding">
        <table class="table table-hover table-clickable">
            <thead>
                <tr>
                    <th>Khoa</th>
                    <th>Hệ</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="program in vm.programs | filter:vm.programFilter" ng-class="{active: vm.selectedProgramIndex === $index}" ng-click="vm.SelectProgram($index)">
                    <td>{{program.faculty}}</td>
                    <td>{{program.type}}</td>
                    <td>{{program.description}}</td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>-->

<div class="loader" ng-style="!preloader && {'display': 'none'}"></div>