<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 side-bar">
            <div class="panel panel-default">
                <div class="panel-heading">Danh sách sản phẩm</div>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="goStatusPage('valid')">Danh sách sản phẩm đang đấu giá 
                            <span class="badge badge-color">2</span>c
                        </a>
                    <a href="#" class="list-group-item" ng-click="goStatusPage('notvalid')">Danh sách sản phẩm tham gia đấu giá 
                            <span class="badge badge-color">3</span>
                        </a>
                    <a href="#" class="list-group-item">Danh sách sản phẩm đang quan tâm
                            <span class="badge badge-color">4</span>
                        </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 main-content">
            <div class="panel panel-success">
                <div class="panel-heading"><strong>Danh mục Sản phẩm</strong></div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-4" ng-repeat="product in productList">
                        <div class="thumbnail">
                            <a href="#" role="button" ng-click="viewImage(product.urlMedia)">
                                <img ng-src="{{product.urlMedia[0].url}}" alt="{{product.name}}">
                            </a>
                            <div class="caption">
                                <h3>{{product.name}}</h3>
                                <p>{{product.description}}</p>
                                <p>
                                    <a href="#" class="btn btn-primary" role="button" ng-click="viewDetail(product._id)">Xem chi tiết</a>
                                    <a href="#" class="btn btn-success" role="button" ng-click="doBid(product._id)">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Đấu Giá
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="nav-page pagination">
        <li>
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
    </ul>
</nav>