<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <link rel="stylesheet" href="../../../../bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="../../../../bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../styles/style.css">


</head>

<body ng-app="app">
    <div class="main-wrapper">
        <div ui-view></div>
    </div>
    
    <!-- bower:js -->
    <script src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../../../bower_components/angular/angular.js"></script>
    <script src="../../../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../../../../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../../../../bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <!-- endbower -->

    <script src="../../scripts/app.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjXdQVF-GdNopzTzkdMn5agsHzAPN6cag"></script>
</body>

</html>