<footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="text-dark no-mg pd-t-xs">2017 © 1412600-1412438-1412609 - All rights reserved.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="links text-right">
                        <a class="btn-empty btn-xl no-pd mg-r-sm" href="#"><i
                                class="fa fa-lg fa-twitter-square"></i></a>
                        <a class="btn-empty btn-xl no-pd mg-r-sm" href="#"><i
                                class="fa fa-lg fa-facebook-square"></i></a>
                        <a class="btn-empty btn-xl no-pd mg-r-sm" href="#"><i
                                class="fa fa-lg fa-linkedin-square"></i></a>
                        <a class="btn-empty btn-xl no-pd mg-r-sm" href="#"><i class="fa fa-lg fa-vimeo-square"></i></a>
                        <a class="btn-empty btn-xl no-pd mg-r-sm" href="#"><i class="fa fa-lg fa-flickr"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>