<nav class="navbar navbar-default background-fix" style="margin-top:0px;" ng-controller="HeaderController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand text-color" href="#" style="padding: 9px;" ng-click="goToHome()"><i class="fa fa-home fa-2x"></i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control border-flat" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <ul class="nav navbar-nav navbar-right header-navbar-right">
            <li ng-show="profile">
                <img role="button" class="img-responsive img-radius avatar-buyer inline" ng-click="goUser()" src="../../../images/1_thumbs.png" alt="Avatar người dùng">
                <h3 class="panel-title inline" style="color:aliceblue">Nguyễn Đình Tiến</h3>
                <i class="fa fa-sign-out margin-left-10px" style="color:aliceblue" role="button" ng-click="logout()"></i>
            </li>
            <li ng-show="!profile">
                <button type="button" class="btn btn-default btn-header" ng-click="signUp()">
                    <i class="fa fa-pencil">Đăng Kí</i>
                </button>
            </li>
            <li ng-show="!profile">
                <button type="button" class="btn btn-default btn-header" ng-click="signIn()">
                    <i class="fa fa-key">Đăng Nhập</i>
                </button>
            </li>
        </ul>
    </div>
</nav>

<div id="nav" ng-controller="HeaderController">
    <ul>
        <li ng-click="goPage()">
            <a href="#">Tất cả</a>
        </li>
        <li ng-repeat="category in categoryList" ng-click="goPage(category._id)">
            <a href="#">{{category.name}}</a>
        </li>
    </ul>
</div>