<form class="margin-top_10px">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="address">Địa chỉ đón khách</label>
                <input ng-model="data.address" type="text" class="form-control" id="address" placeholder="Nhập địa chỉ đón khách">
            </div>

            <div class="form-group">
                <div class="radio">
                    <label><input ng-model="data.kind" ng-value="1" type="radio" name="kind">Xe thường</label>
                </div>
                <div class="radio">
                    <label><input ng-model="data.kind" ng-value="2" type="radio" name="kind">Premium</label>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <button type="submit" class="btn btn-success margin-left_30px" ng-click="createCustomerInfo()">Submit</button>
    </div>
  </form>